*{
    padding: 0%;
    margin: 0% ;
    box-sizing: border-box;
}

body
{
    background: wheat;
}

/* css pour nav*/

nav
{
    width: 96%;
	position: relative;
	margin: 0% auto;
    display: flex;
	color: black;
	background: whitesmoke;
}

nav .cercle
{
	width: 10%;
	height: 100%;
	border-radius: 100%;
	margin: 0.5%;
	background: red;
	color: whitesmoke;
	padding: 3% 1%;
	text-align: center;
	font-style: italic;
	font-size: 2rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border: 1px solid transparent;
}
nav h1 
{
	font-size: 3rem;
	margin-top: 2% ;
	margin-left:5%;
	color: red;
	position: absolute;
	top: 1%;
	left: 20%;
	position: absolute;
	top: 7%;
	left: 30%;
}

nav a 
{
	text-decoration: none;
	color: red;
	font-size: 5rem;
	position: absolute;
	top: 7%;
	right: 2%;
}

.corps
{
	width: 100%;
	background: red;
	color: white;
	text-align: center;
	padding: 5%;
}

.corps h2, .corps p
{
	margin: 2%;
}

.corps a
{
	width: 30%;
	padding: 1%;
	text-decoration: none;
	color: red;
	text-align: center;
	font-size: 1rem;
	background: rgb(248, 248, 22);
	border-radius: 20px;

}

.corps2
{
	width: 100%;
	margin-top: 2%;
	background: whitesmoke;
	color: black;
	padding: 5%;
}

.corps2 h2
{
	margin: 2% 0%;
	font-size: 3rem;
	color: red;
}

.corps2 p
{
	margin: 2% 0%;
}
.corps2 a
{
	width: 30%;
	padding: 1%;
	text-decoration: none;
	color: red;
	text-align: center;
	font-size: 1rem;
	margin-left: 70%;
	margin-top: 10%;
	background: rgb(248, 248, 22);
	border-radius: 20px;

}

.corps3
{
	width: 100%;
	margin-top: 2%;
	background: whitesmoke;
	color: black;
	padding: 5%;
}

.corps3 p
{	
	text-align: center;
	font-size: 2rem;
	color: red;
}

.corps3 .case
{
	display: flex;
	flex-wrap: wrap;
}

.corps3 .case .contenaire
{
	display: flex;
	width: 20%;
	flex-direction: column;
	margin: 2%;
	font-weight: bold;
}

.corps3 .case .contenaire .cont
{
	width: 100%;
	height: 300px;
	border: 5px solid rgb(82, 247, 82);
}

.corps3 a
{
	width: 30%;
	padding: 1%;
	text-decoration: none;
	color: red;
	text-align: center;
	font-size: 1.5rem;
	margin-left: 90%;
	margin-top: 10%;
	background: rgb(248, 248, 22);
	border-radius: 20px;
}


.corps4
{
	width: 100%;
	background: whitesmoke;
	margin-top: 3%;
	text-align: center;
	padding: 5%;
}

.corps4 h2
{
	margin: 2%;
	font-size: 3rem;
}

.corps4 p
{
	margin: 2%;
	font-weight: bolder;
	font-size: 1rem;
}

.corps4 a
{
	width: 40%;
	padding: 1%;
	text-decoration: none;
	color: whitesmoke;
	text-align: center;
	font-size: 1rem;
	background: red;
	border-radius: 20px;
	font-weight: bold;

}

.corps5
{
	width: 100%;
	background: rgb(58, 131, 240);
	margin-top: 3%;
	color: whitesmoke;
	text-align: center;
	font-size: 2rem;
	display: block;
	padding: 2%;
}

.corps5 .center
{
	margin-top: 2%;
	padding: 2%;
	display: inline;
}

.corps5 a
{
	width: 50%;
	padding: 1%;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 1rem;
	background: whitesmoke;
	border-radius: 20px;
	font-weight: bold;
	margin-left: 70%;
	margin-top: 0%;

}

.corps6
{
	width: 100%;
	margin-top: 2%;
	background: whitesmoke;
	color: black;
	padding: 5%;
	text-align: center;
}

.corps6 h2
{
	font-weight: bolder;
	font-size: 3rem;
}
.corps6 p
{
	font-weight: bolder;
	font-size: 1rem;
}

.corps6 .case
{
	width: 60%;
	margin: 1% auto;
	display: flex;
	flex-direction: column;
}

.corps6 .case .contenaire
{
	width: 100%;
	height: 300px;
	padding: 4%;
	background: orangered;
}
.corps6 .case .contenaire .cont
{
	width: 10%;
	color: orangered;
	background: rgba(0, 0, 0, 0.432);
	font-family: monospace;
	font-size: 2rem;
	margin-left: 85%;
	margin-top: 2%;
	border-radius: 10px;

}

.corps6 .case .contenaire2
{
	width: 100%;
	height: 300px;
	margin-top: 2%;
	padding: 4%;
	background: rgb(70, 243, 162);
}

.corps6 .case .contenaire2 .cont
{
	width: 10%;
	color: orangered;
	background: rgba(0, 0, 0, 0.432);
	font-family: monospace;
	font-size: 2rem;
	margin-left: 85%;
	margin-top: 2%;
	border-radius: 10px;

}

.corps6 .case .contenaire3
{
	width: 100%;
	height: 300px;
	margin-top: 2%;
	padding: 4%;
	background: rgb(41, 8, 35);
}

.corps6 .case .contenaire3 .cont
{
	width: 10%;
	color: orangered;
	background: rgba(0, 0, 0, 0.432);
	font-family: monospace;
	font-size: 2rem;
	margin-left: 85%;
	margin-top: 2%;
	border-radius: 10px;

}

.corps6 a
{
	width: 30%;
	padding: 1%;
	text-decoration: none;
	color: red;
	text-align: center;
	font-size: 1.5rem;
	margin-left: 90%;
	margin-top: 10%;
	background: rgb(248, 248, 22);
	border-radius: 20px;
}

.corps7
{
	width: 100%;
	background: red;
	margin-top: 3%;
	color: whitesmoke;
	text-align: center;
	font-size: 2rem;
	display: block;
	padding: 2%;
}

.corps7 .center
{
	margin-top: 2%;
	padding: 2%;
	display: inline;
}

.corps7 a
{
	width: 50%;
	padding: 1%;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 1rem;
	background: whitesmoke;
	border-radius: 20px;
	font-weight: bold;
	margin-left: 70%;
	margin-top: 0%;

}


.corps9
{
	width: 100%;
	margin-top: 2%;
	background: whitesmoke;
	color: black;
	padding: 5%;
	text-align: center;
}

.corps9 h2
{
	font-weight: bolder;
	font-size: 3rem;
}
.corps9 p
{
	font-weight: bolder;
	font-size: 1rem;
}

.corps9 .case
{
	width: 60%;
	margin: 1% auto;
	display: flex;
	flex-direction: column;
}

.corps9 .case .contenaire
{
	width: 100%;
	height: 300px;
	padding: 4%;
	margin-top: 2%;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.514);
}
.corps9 .case .contenaire .cont
{
	width: 10%;
	color: orangered;
	background: rgba(0, 0, 0, 0.432);
	font-family: monospace;
	font-size: 2rem;
	margin-left: 85%;
	margin-top: 2%;
	border-radius: 10px;


}
.corps9 .case .contenaire .cont a
{
	font-size: 8rem;
	margin: 5%;
	text-decoration: none;
	color: whitesmoke;
}

.corps9 a
{
	width: 30%;
	padding: 1%;
	text-decoration: none;
	color: red;
	text-align: center;
	font-size: 1.5rem;
	margin-left: 90%;
	margin-top: 10%;
	background: rgb(248, 248, 22);
	border-radius: 20px;
}

.corps10
{
	width: 100%;
	margin-top: 2%;
	background: rgb(43, 42, 42);
	color: whitesmoke;
	padding: 5%;
	text-align: center;
}

.corps10 h2
{
	font-size: 2rem;
	margin: 2%;
}
.corps10 a
{
	color: red;
}

@media all and (max-width: 900px)
{
	nav .cercle
	{
		width: 15%;
		font-size: 0.5rem;
	}
	nav h1 
	{
		font-size: 1.5rem;
		top: 3%;
		left: 20%;
	}

	nav a 
	{
		text-decoration: none;
		color: red;
		font-size: 2rem;
		position: absolute;
		right: 2%;
	}

	.corps2 h2
	{
		font-size: 2rem;
	}
	.corps2 a
	{
		margin-left: 50%;

	}

	.corps3 p
	{	
		text-align: center;
		font-size: 2rem;
		color: red;
	}
	.corps3 .case .contenaire
	{
		width: 48%;
		margin: 0.5%;
	}
	.corps3 a
	{
		margin-left: 80%;
	}

	.corps4 h2
	{
		font-size: 2rem;
	}

	.corps5
	{
		font-size: 1rem;
	}

	.corps5 a
	{
		margin-left: 30%;

	}

	.corps6 h2
	{
		font-size: 2rem;
	}
	.corps6 p
	{
		font-size: 0.7rem;
	}

	.corps6 .case
	{
		width: 90%;
		margin: 2% auto;
	}

	.corps6 .case .contenaire
	{
		width: 100%;
		height: 200px;
		padding: 4%;
		background: orangered;
	}
	.corps6 .case .contenaire .cont
	{
		width: 10%;
		font-size: 1rem;

	}

	.corps6 .case .contenaire2
	{
		height: 200px;
	}

	.corps6 .case .contenaire2 .cont
	{
		width: 10%;
		font-size: 1rem;

	}

	.corps6 .case .contenaire3
	{
		height: 200px;
	}

	.corps6 .case .contenaire3 .cont
	{
		width: 10%;
		font-size: 1rem;

	}

	.corps6 a
	{
		margin-left: 80%;
	}

	.corps7
	{
		font-size: 1rem;
	}

	.corps7 a
	{
		margin-left: 30%;

	}

	.corps9 h2
	{
		font-size: 2rem;
	}

	.corps9 .case
	{
		width: 90%;
	}

	.corps9 .case .contenaire
	{
		height: 200px;
	}
	.corps9 .case .contenaire .cont
	{
		font-size: 1rem;
	}

	.corps9 a
	{
		margin-left: 80%;
	}

}